services:
    php:
        build: ./etc/docker/php/
        volumes:
            - ./:/opt/project
        depends_on:
            wiremock:
              condition: service_healthy

    wiremock:
        image: rodolpheche/wiremock
        ports:
          - "8080:8080"
        volumes:
            - ./etc/wiremock/files:/home/wiremock/__files
            - ./etc/wiremock/mappings:/home/wiremock/mappings
        healthcheck:
            test: ["CMD", "curl", "-f", "http://localhost:8080/api/v1/data", "-H", "User-Agent: Some-User-Agent/v1.0.5"]
            interval: 5s
            timeout: 5s
            retries: 20